<h1>Pipe in Angular</h1>
<h2>{{names |titlecase}}</h2>
<h2>{{today | date:'fullDate'}}</h2>
<h2>{{str | slice : 1}}</h2>
<h2>{{val | currency : 'RS'}}</h2>


<H1 >Pass Data Parent To Child Component</H1>
<app-users ></app-users>

<div *ngFor="let data of users">
<app-user [heros]="data"></app-user>
</div>


<H1>Pass Data Child To Parent Component</H1>
<app-childtoparent (parentComponent)="parentComponent($event)"></app-childtoparent>

<br>
<br>
<h3>{{name}}</h3>

<a routerLink="user" href="#">User</a> <br> <br>
<a routerLink="users" href="#">Users</a> <br> <br>
<a routerLink="child" href="#">ChildToParent</a> <br> <br>

<a routerLink="about" href="#">About</a> <br> <br>
<router-outlet></router-outlet>

<h1>Custom Directive in Angular >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>></h1>
<h2 appCustomStyle>Normal Heading</h2>
<h3>Custom Heading</h3>

<!-- <h2>{{data.name}}</h2>
<h2>{{data.age}}</h2> -->

<!-- <h1>{{userId}}</h1> -->
<!-- <h1>{{completed}}</h1> -->

<h1>Show List from API Data in Angular</h1>
<table style="border: 2px solid black;">
  <tr>
    <td style="border: 2px solid black;">Id</td>
    <td style="border: 2px solid black;">Title</td>
    <td style="border: 2px solid black;">UserId</td>
  </tr>

  <!-- <tr *ngFor="let item of data">
    <td style="border: 2px solid black;">Id</td>
    <td style="border: 2px solid black;">Title</td>
    <td style="border: 2px solid black;">UserId</td>
  </tr> -->
</table>